* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
  list-style-type: none;
}

@keyframes coeur {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes contact {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes modalprojects {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
@keyframes modalprojectsclose {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform: scaleX(0);
  }
}
@keyframes ScrollTop {
  0% {
    opacity: 0;
    margin-bottom: -100%;
  }
  100% {
    opacity: 1;
    margin-bottom: 0%;
  }
}
@keyframes animBtnHome {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animAboutKnow {
  0% {
    opacity: 0;
    right: 30%;
  }
  100% {
    opacity: 1;
    right: 0%;
  }
}
@keyframes animAboutSkill {
  0% {
    opacity: 0;
    left: 30%;
  }
  100% {
    opacity: 1;
    left: 0%;
  }
}
.container-contact {
  display: block;
  margin-top: 100px;
  background: url(../Asset/background.jpg) no-repeat;
  padding-top: 100px;
  padding-bottom: 150px;
}
.container-contact .modal-contact {
  margin-left: 45vw;
  font-size: 1.7rem;
  background-color: white;
  border: 0px;
  background-color: #0404B4;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  width: 120px;
  box-shadow: 3px 3px 3px black;
}
.container-contact .modal-contact:hover {
  background-color: white;
  color: #0404B4;
  box-shadow: 0px 1px 10px 3px #0404B4;
}
.container-contact .p-contact {
  width: 57%;
  margin-top: 20px;
  margin-left: 20vw;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
}

.form-contact {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-left: 32vw;
  margin-top: 30px;
  width: 35vw;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  border-radius: 5px;
  padding: 5px 30px 30px 30px;
  animation: contact 1s ease-in-out;
  transform-origin: top;
  transition: all 0.6s ease-in-out;
}
.form-contact .label-contact {
  margin-top: 20px;
  font-size: 1.4rem;
}
.form-contact .input-contact {
  background-color: rgb(216, 216, 216);
  height: 50px;
  border-radius: 5px;
  font-size: 1.4rem;
  border: solid 1px rgb(216, 216, 216);
}
.form-contact .textarea-contact {
  background-color: rgb(216, 216, 216);
  height: 250px;
  border-radius: 5px;
  font-size: 1.4rem;
  border: solid 1px rgb(216, 216, 216);
}
.form-contact .btn-contact {
  margin-top: 20px;
  margin-left: 23.5vw;
  font-size: 1.7rem;
  background-color: white;
  border: 0px;
  background-color: #0404B4;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  width: 10vw;
  box-shadow: 3px 3px 3px black;
  transition: all 0.6s ease-out;
}
.form-contact .btn-contact:hover {
  background-color: white;
  color: #0404B4;
  box-shadow: 0px 1px 10px 3px #0404B4;
}

@media (max-width: 1024px) {
  .container-contact {
    margin-top: 100px;
    display: block;
    padding-top: 100px;
    padding-bottom: 150px;
  }
  .container-contact .modal-contact {
    margin-left: 45vw;
    font-size: 1.2rem;
    border: 0px;
    border-radius: 5px;
    width: 10%;
  }
  .container-contact .p-contact {
    margin-top: 20px;
    margin-left: 22vw;
    font-size: 1.3rem;
    width: 65%;
  }
  .form-contact {
    flex-direction: column;
    margin-left: 23vw;
    margin-top: 30px;
    width: 50vw;
    padding: 5px 30px 30px 30px;
  }
  .form-contact .label-contact {
    margin-top: 20px;
    font-size: 1.4rem;
  }
  .form-contact .input-contact {
    height: 50px;
    border-radius: 5px;
    font-size: 1.4rem;
  }
  .form-contact .textarea-contact {
    height: 250px;
    border-radius: 5px;
    font-size: 1.4rem;
  }
  .form-contact .btn-contact {
    margin-left: 40vw;
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .container-contact {
    margin-top: 100px;
    display: block;
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .container-contact .modal-contact {
    margin-left: 41vw;
    font-size: 1rem;
    border-radius: 5px;
    width: 80px;
  }
  .container-contact .p-contact {
    margin-top: 20px;
    font-size: 1rem;
  }
  .form-contact {
    margin-left: 15vw;
    padding: 5px 20px 20px 20px;
    width: 60vw;
  }
  .form-contact .label-contact {
    margin-top: 20px;
    font-size: 1rem;
  }
  .form-contact .input-contact {
    height: 50px;
    border-radius: 5px;
    font-size: 0.8rem;
  }
  .form-contact .textarea-contact {
    height: 250px;
    border-radius: 5px;
    font-size: 0.8rem;
  }
  .form-contact .btn-contact {
    margin-left: 46vw;
    font-size: 1rem;
    width: 23%;
  }
}