* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
  list-style-type: none;
}

@keyframes coeur {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes contact {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes modalprojects {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
@keyframes modalprojectsclose {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform: scaleX(0);
  }
}
@keyframes ScrollTop {
  0% {
    opacity: 0;
    margin-bottom: -100%;
  }
  100% {
    opacity: 1;
    margin-bottom: 0%;
  }
}
@keyframes animBtnHome {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animAboutKnow {
  0% {
    opacity: 0;
    right: 30%;
  }
  100% {
    opacity: 1;
    right: 0%;
  }
}
@keyframes animAboutSkill {
  0% {
    opacity: 0;
    left: 30%;
  }
  100% {
    opacity: 1;
    left: 0%;
  }
}
.container-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20%;
  height: 90px;
  background: url(../Asset/background.webp) no-repeat;
}
.container-home .container-h1-home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-home .h1-home {
  width: 100%;
  font-size: 3rem;
  font-weight: 800;
  margin-left: 7%;
  display: inline-block;
  position: relative;
}
.container-home .container-p-home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-home .p-home {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
}
.container-home .btn-container-home {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.container-home .btn-container-home .btn-home {
  border: 0px;
  background-color: #0404b4;
  color: white;
  font-weight: 800;
  font-size: 1.1rem;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  padding: 5px 30px 5px 30px;
  box-shadow: 3px 3px 3px black;
  transition: all 0.6s ease-out;
  animation: animBtnHome 1.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-home .btn-container-home .icon-home {
  font-size: xx-large;
  margin-right: 5px;
}
.container-home .btn-container-home .btn-home-img {
  height: 55px;
  margin-left: -25%;
  width: 50px;
}
.container-home .btn-container-home .btn-home-img-malt2 {
  margin-left: -25%;
  height: 40px;
  width: 50px;
}
.container-home .btn-container-home .btn-home:hover {
  background-color: white;
  color: #0404b4;
  box-shadow: 0px 1px 10px 3px #0404b4;
}
.container-home .gif-dev-home {
  margin-bottom: -7%;
  margin-left: -2%;
  width: 100px;
  height: 100px;
}

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 12px;
  background-color: #0404b4;
  color: #fff;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  animation: ScrollTop 0.5s ease-in-out;
  transform-origin: bottom;
  z-index: 1;
}

.scroll-to-top.visible {
  display: block;
  z-index: 1;
}

@media (max-width: 1024px) {
  .container-home {
    padding: 20%;
    height: 90px;
  }
  .container-home .h1-home {
    font-size: 1.8rem;
    margin-left: 8%;
  }
  .container-home .p-home {
    font-size: 1.1rem;
    width: 100%;
    margin-top: 10px;
    margin-left: 7%;
  }
  .container-home .btn-container-home .btn-home {
    font-size: 1rem;
    width: 80px;
    padding: 5px 7px 0px 10px;
  }
  .container-home .btn-container-home .icon-home {
    font-size: 1rem;
    margin-right: 5px;
    margin-bottom: 3px;
  }
  .container-home .btn-container-home .btn-home-img {
    height: 45px;
    margin-left: -25%;
    width: 30px;
  }
  .container-home .btn-container-home .btn-home-img-malt2 {
    margin-left: -25%;
    height: 25px;
    width: 30px;
  }
  .container-home .gif-dev-home {
    display: none;
    width: 70px;
    height: 70px;
    margin-left: 0%;
    margin-bottom: -10%;
  }
}
@media (max-width: 768px) {
  .container-home {
    padding: 20%;
    height: 90px;
  }
  .container-home .h1-home {
    font-size: 1rem;
    margin-left: 8%;
  }
  .container-home .p-home {
    font-size: 0.8rem;
    margin-bottom: 30px;
  }
  .container-home .btn-container-home .btn-home {
    font-size: 0.8rem;
    width: 70px;
    height: 20px;
    padding: 2.5px 5px 2.5px 10px;
  }
  .container-home .btn-container-home .icon-home {
    font-size: 1rem;
    margin-right: 5px;
    margin-bottom: 3px;
  }
  .container-home .gif-dev-home {
    width: 50px;
    height: 50px;
    margin-left: 0%;
    margin-bottom: -11%;
  }
  .scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px 6px;
    z-index: 1;
  }
}
