@import "./Variable.scss";
@import "./Global.scss";
@import "./Mixin.scss";
@import "./Animation.scss";

.container-about {
  display: flex;
  flex-wrap: wrap;
  margin: 5% 20% 10% 20%;

  .container-me {
    margin-bottom: 50px;
    width: 100%;
    .border {
      margin-left: 28.2vw;
      margin-top: 1vw;
      border-top: 7px solid $main-color;
      border-radius: 5px;
      width: 3.2vw;
    }
    .title-me {
      @include centerAlign;
      font-size: 1.7rem;
    }

    .p-me {
      @include centerAlign;
      font-size: 1.4rem;
      margin-top: 20px;
      font-family: 'Roboto', sans-serif;
      
    }
  }
  .container-know {
    margin-right: 100px;
    width: 45%;
    position: relative;
    

    .title-know {
      @include centerAlign;
      font-size: 1.7rem;
      margin-bottom: 25px;
    }

    .p-know {
      @include centerAlign;
      font-size: 1.2rem;
      margin-bottom: 35px;
      font-family: 'Roboto', sans-serif;
    }

    .btn-know {
      margin-left: 12rem;
      font-size: 1.4rem;
      background-color: $main-color;
      color: white;
      font-weight: 700;
      border-radius: 5px;
      height: 50px;
      border: 0px;
      padding: 5px 30px 5px 30px;
      box-shadow: 3px 3px 3px black;
      transition: all 0.6s ease-out;
    }
    .btn-know:hover {
      @include btn-hover;
    }
  }
  .container-know.animate {
    animation: animAboutKnow 2s ease-in-out;
  }
  .container-skills {
    width: 45%;
    position: relative;
    
    .title-skills {
      @include centerAlign;
      margin-left: -8rem;
      font-size: 1.7rem;
    }
    .display-skills {
      display: flex;
      flex-wrap: wrap;
      margin-top: 25px;
    }
    .skills {
      @include centerAlign;
      padding: 1rem 2rem;
      margin-bottom: 1.5rem;
      margin-right: 1.5rem;
      font-size: 1.2rem;
      font-family: 'Roboto', sans-serif;
      background: rgba(153, 153, 153, 0.2);
      border-radius: 5px;
      font-weight: 600;
      color: black;
      box-shadow: 3px 3px 3px $main-color;
      transition: all 0.5s ease-out;
    }
    .skills:hover {
      background-color: white;
      color: $main-color;
      box-shadow: 0px 2px 20px 3px $main-color;
      background-image: url(../Asset/background.jpg);
    }
  }
  .container-skills.animate {
    animation: animAboutSkill 2s ease-in-out;
  }
}

