@import "./Variable.scss";
@import "./Global.scss";
@import "./Mixin.scss";

.container-footer {
  background-color: black;
  color: white;
  padding: 60px 15% 40px 15%;
  position: relative;

  .div-1-footer {
    width: 40%;
  }
  .div-2-footer {
    width: 10%;
    // margin-left: 60vw;
    // margin-top: -90px;
    position: absolute;
right: 15vw;
top: 70px;



    .title-2-footer {
      margin-bottom: 15px;
      letter-spacing: 2px;
    }

    .icon-footer {
      margin-right: 20px;
      color: white;
    }
    .icon-footer:hover{
      filter: grayscale(100%) sepia(100%) hue-rotate(180deg) saturate(300%) brightness(0.5);
    }
    .icon-footer-img{
      position: absolute;
      width: 100px
    }
  }

  .copyright-footer {
    @include centerAlign;
    font-size: 0.7rem;
    margin-top: 20px;
  }
}
@media (max-width: 1024px ) {
    .container-footer {
        padding: 30px 10% 20px 10%;
        position: relative;
    
        .div-1-footer {
          width: 40%;
        }
        .title-1-footer{
            font-size: 1.5rem;
            margin-bottom: 20px;
            
        }
        .p-1-footer{
            font-size: 1rem;
        }
        .div-2-footer {
          position: absolute;
          top: 30px;
         width: 20%;
          .title-2-footer {
            font-size: 1.5rem;
            margin-bottom: 15px;
            letter-spacing: 2px;
          }
    
          .icon-footer {
            margin-right: 20px;
          }
        }
    
        .copyright-footer {
          font-size: 0.7rem;
          margin-top: 20px;
        }
      }

 }
 
@media (max-width: 768px) {
  .container-footer {
    position: relative;
    padding: 30px 10% 20px 10%;
    z-index: 0;

    .div-1-footer {
      width: 40%;
    }
    .title-1-footer{
        font-size: 1rem;
        margin-bottom: 20px;
        
    }
    .p-1-footer{
        font-size: 0.8rem;
    }
    .div-2-footer {
      width: 100px;
      position: absolute;
      top: 30px;
      

      .title-2-footer {
        font-size: 1rem;
        margin-bottom: 15px;
        letter-spacing: 2px;
      }

      .icon-footer {
        font-size: 0.9rem;
        margin-right: 20px;
      }
      .icon-footer-img{
        width: 60px;
        height: 15px;
  position: absolute;
  top: 80px;
  right: 35%;
      }
    }

    .copyright-footer {
      font-size: 0.7rem;
      margin-top: 20px;
    }
  }
}
