@import "./Variable.scss";
@import "./Global.scss";
@import "./Animation.scss";
.container-header {
  display: flex;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 2px;
  .container-logo {
    width: 50%;
    display: flex;
    gap: 12%;
    .header-logo {
      height: 45px;
      width: 45px;
      border-radius: 25px;
      margin-left: 2vw;
      position: relative;
      top: -12%;
    }
    .header-p {
      font-size: 20px;
      color: white;
      font-weight: 500;
    }
  }
  .container-nav {
    display: flex;
    width: 50%;
    gap: 12%;
    margin-left: 50vw;
    .header-li {
      font-size: 20px;
      color: white;
      font-weight: 500;
    }
    .header-li:hover {
      color: $main-color;
      animation: coeur 1s infinite;
      transition: 0.3s;
    }
  }
}
@media (max-width: 1024px ) { 
  .container-header {
    .container-logo {
      gap: 5%;
      .header-logo {
        margin-left: 2vw;
      }
    }
    .container-nav {
      gap: 8%;
      margin-left: 20vw;
    }
  }
}


@media (max-width: 768px ) { }