@import "./Variable.scss";
@import "./Global.scss";
@import "./Animation.scss";
@import "./Mixin.scss";
.container-header {
  display: flex;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 2px;
  .container-logo {
    width: 50%;
    display: flex;
    gap: 12%;
    .header-logo {
      height: 45px;
      width: 45px;
      border-radius: 25px;
      margin-left: 2vw;
      position: relative;
      top: -12%;
    }
    .header-p {
      font-size: 20px;
      color: white;
      font-weight: 500;
    }
  }
  .container-nav {
    display: flex;
    width: 50%;
    gap: 12%;
    margin-left: 50vw;
    .header-li {
      font-size: 20px;
      color: white;
      font-weight: 500;
    }
    .header-li:hover {
      color: $main-color;
      animation: coeur 1s infinite;
      transition: 0.3s;
    }
  }
  .header-modal{
   display: none; 
  }
}
@media (max-width: 1024px ) { 
  .container-header {
    .container-logo {
      gap: 5%;
      .header-logo {
        margin-left: 2vw;
      }
    }
    .container-nav {
      gap: 8%;
      margin-left: 20vw;
    }
  }
}


@media (max-width: 768px ) { 
  .container-header {
  display: flex;
  padding-top: 20px;
  padding-bottom: 2px;
  .container-logo {
    width: 50%;
    display: flex;
    gap: 12%;
    .header-logo {
      height: 35px;
      width: 35px;
      border-radius: 25px;
      margin-left: 2vw;
      position: relative;
      top: -12%;
    }
    .header-p {
      font-size: 0.8rem;
      width: 75px;
      font-weight: 500;
      margin-top: 5px;
    }
  }
  .container-nav {
    display: none;
}
.header-modal{
display: flex;
margin-left: 40%;
margin-top: 1.2%;
background-color: black;
border: none;
font-size: 20px;
.header-bars{
  background-color: black;
  color: white;
}}
}
.container-nav-mobile{
  @include centerAlign;
  position: absolute;
  background-color: black;
  z-index: 10;
  width: 100%;
  padding-bottom:10px ;

 .ul-mobile{
  display: flex;
  gap: 10vw;
 }
 .li-mobile{
  color: white;
 }
 .li-mobile:hover {
  color: $main-color;
  animation: coeur 1s infinite;
  transition: 0.3s;
}
 }
}