@import "./Variable.scss";
@import "./Global.scss";
@import "./Mixin.scss";
@import "./Animation.scss";

.container-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20%;
  height: 90px;
  background: url(../Data/background.jpg) no-repeat;

  .h1-home {
    font-size: 3.7rem;
    font-weight: 800;
    margin-left: 20%;
    display: inline-block;
    position: relative;
  }

  .p-home {
    margin-left: 11vw;
    margin-bottom: 50px;
    font-size: 30px;
  }
  .btn-container-home {
    @include centerAlign;
    gap: 25px;
    .btn-home {
      border: 0px;
      background-color: $main-color;
      color: white;
      font-weight: 700;
      font-size: 1rem;
      width: 4.6vw;
      height: 30px;
      border-radius: 5px;
      padding: 5px 30px 5px 30px;
      box-shadow: 5px 5px 5px black;
      transition: all 0.6s ease-out;
    }
    .icon-home {
      margin-right: 5px;
    }
    .btn-home:hover {
      @include btn-hover;
    }
  }
  .gif-dev-home {
    margin-bottom: -8%;
    margin-left: 9%;
    width: 100px;
    height: 100px;
  }

  .content {
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
  }
  //   fleche animation
  #more-arrows {
    width: 75px;
    height: 65px;

    &:hover {
      polygon {
        fill: $main-color;
        transition: all 0.2s ease-out;

        &.arrow-bottom {
          transform: translateY(-18px);
        }

        &.arrow-top {
          transform: translateY(18px);
        }
      }
    }
  }
  polygon {
    fill: $main-color;
    transition: all 0.2s ease-out;

    &.arrow-middle {
      opacity: 0.75;
    }

    &.arrow-top {
      opacity: 0.5;
    }
  }
}
