@import "./Variable.scss";
@import "./Global.scss";
@import "./Mixin.scss";
@import "./Animation.scss";

.title-projects {
  @include centerAlign;
  font-size: 1.7rem;
}
.border {
  
  margin-left: 47.9vw;
     margin-top: 1vw;
        border-top: 7px solid $main-color;
        border-radius: 5px;
        width: 3.5vw;
}

.p-projects {
  @include centerAlign;
  font-size: 1.4rem;
  margin-top: 20px;
}

.container-projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .div-projects {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-top: 100px;
    margin-left: 8rem;

    .img-projects {
      width: 18vw;
      height: 17.5rem;
      margin-right: 3rem;
    }
    .img-projects:hover {
      animation: coeur 1.5s infinite;
      transition: 0.3s;
    }
    .title-article-projects {
      margin-top: 20px;
      font-size: 1.7rem;
    }
    .p-article-projects {
      font-size: 1.4rem;
    }
  }
}
.plus-projects {
  font-size: 1.4rem;
  margin-top: 25px;
  margin-left: 28%;
  color: white;
  transition: all 0.5s;
  background-color: $main-color;
  border-radius: 5px;
  border: 0;
  box-shadow: 5px 5px 5px black;
  padding: 2.5px 15px 3px 15px;
}
.plus-projects:hover {
  @include btn-hover;
}

//   !!!!!!!!!!!!!!!!!!!!!!MODAL!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.modal-open {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-projects {
  display: block;
  position: fixed;
  top: 0%;
  right: 0%; 
  width: 50%; 
  height: 100vh; 
  background-color: white;
  z-index: 1000;
  color: black;
  justify-content: center;
  overflow: hidden;
  border-left: 7px $main-color solid;
  animation: modalprojects 0.5s ;
  transform-origin: right;
  transition: all 0.6s ease-out;
}

.container-close-modal {
  display: flex;
  justify-content: flex-start;
  margin-left: 2%;
  margin-top: 2%;
  .close-modal {
    font-size: 1rem;
    background-color: $main-color;
    color: white;
    border-radius: 5px;
    height:25px;
    border: 0px;
    padding: 1px 8px 1px 8px;
    box-shadow: 5px 5px 5px black;
    transition: all 0.6s ease-out;
  }
  .close-modal:hover {
    @include btn-hover;
  }
}


.container-title-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 2%;
  text-align: center;
  .title-modal {
    margin-top: -50px;
    font-size: 1.9rem;
    font-weight: 700;
    
  }
  .banner-modal {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 60%;
    height: 200px;
  }
  .p-modal {
    margin-top: 20px;
    font-size: 1.3rem;
    margin-bottom: 20px;
    
  }
}
.container-tech-modal{
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: 15%;
  gap: 10px;
  margin-top: -30%;
    width: 50px;
    height: 50px;
   
}
.container-btn-modal {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 10%;
  gap: 5%;
  margin-right: 5%;
 

  .btn-modal {
    font-size: 1rem;
    background-color: $main-color;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    height: 30px;
    border: 0px;
    padding: 5px 15px 2px 15px;
    box-shadow: 5px 5px 5px black;
    transition: all 0.6s ease-out;
  }
  .btn-modal:hover {
    @include btn-hover;
  }
}

